packages/**/src/**
.eslintrc.json
.editorconfig
.eslintignore
.prettierignore
.husky/**
index.css
babel.config.js
jest.config.js
.storybook/**
postcss.config.js
tsconfig.base.json
packages/**/tsconfig.json
packages/**/rollup.config.js
tailwind.config.js
.prettierrc.json
lerna.json
lerna-debug.log
packages/engine/index.ts
packages/react/index.ts
**/*.js.map
**/*.spec.d.ts
**/*.stories.d.ts